@import "cssVariables.scss";

.card {
  position: relative;
  margin: auto;

  background-color: white;
  background-clip: content-box;

  width: var(--card-width);
  height: var(--card-height);

  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  padding: 50px 20px;

  .header, .footer {
    position: absolute;
    width: 100%;
    //height: 80px;
    left: 0px;
    padding: 10px 0px;
    text-align: center;

    .face-value-left, .face-value-right {
      font-size: 35px;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
      padding: 0 10px;
      color: var(--face-value-header-color-weight-1);
    }

    .face-value-left {
      float: left;
    }

    .face-value-right {
      float: right;
    }
  }

  .header {
    top: 0px;
  }

  .footer {
    bottom: 0px;
    transform: rotate(180deg);
  }

  .icon-bull {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 60%;
    margin: auto;

    z-index: 1;
    font-size: 225px;
    color: #49435E;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.7);
  }

  .face-value {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    //width: 50%;
    height: 50%;
    margin: auto;

    font-size: 135px;
    font-family: Elephant;
    color: var(--face-value-color-weight-1);
    text-shadow: 4px 0 0 #fff, -4px 0 0 #fff, 0 4px 0 #fff, 0 -4px 0 #fff, 2px 2px #fff, -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff;
  }
}

.card::after {
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  height: var(--card-height);
  width: var(--card-width);

  margin: auto;

  background-clip: content-box;
  background-repeat: round space;
  opacity: 0.2;
}

.card.weight-2 {
  background-color: var(--center-background-color-weight-2);

  .icon-bull {
    color: var(--bull-color-weight-2);
  }

  .face-value {
    color: var(--face-value-color-weight-2);
  }

  .header, .footer {
    .face-value-left, .face-value-right {
      color: var(--face-value-header-color-weight-2);
    }
  }
}

.card.weight-3 {
  background-color: var(--center-background-color-weight-3);

  .icon-bull {
    color: var(--bull-color-weight-3);
  }

  .face-value {
    color: var(--face-value-color-weight-3);
  }

  .header, .footer {
    .face-value-left, .face-value-right {
      color: var(--face-value-header-color-weight-3);
    }
  }
}

.card.weight-5 {
  background-color: var(--center-background-color-weight-5);

  .icon-bull {
    color: var(--bull-color-weight-5);
  }

  .face-value {
    color: var(--face-value-color-weight-5);
  }

  .header, .footer {
    .face-value-left, .face-value-right {
      color: var(--face-value-header-color-weight-5);
    }
  }
}

.card.weight-7 {
  background-color: var(--center-background-color-weight-7);;

  .icon-bull {
    color: var(--bull-color-weight-7);
  }

  .face-value {
    color: var(--face-value-color-weight-7);
  }

  .header, .footer {
    .face-value-left, .face-value-right {
      color: var(--face-value-header-color-weight-7);
    }
  }
}

.card.weight-7::after {
  background-image: url(../../assets/images/bull-background@64px.png);
}
