@font-face {
    font-family: '6nimmt';
    src: url(6nimmt.ttf?a3givq) format('truetype'), url(6nimmt.woff?a3givq) format('woff'), url(6nimmt.svg?a3givq#6nimmt) format('svg');
    font-weight: normal;
    font-style: normal;
}